<head>
   <title>新規単語登録</title>
</head>
<body>
   <div class="text-center"</div>
        <div class="panel panel-primary" >
         	<div class="panel-heading""page-header">
   	         	<h1>新規単語登録</h1>
   	      </div>
   	      
   	      <div class="panel-body">
   		          ここでは新規の単語を登録をすることができます。以下の項目を記入して <span class="label label-primary">Create Word</span> をクリックしてください。皆さんのご協力お待ちしております。
   	      </div>
        </div>
    
         <%= form_for @word do |f| %>
      
               <p>1. 日本語を入力してください</p>
               <div>
                 <%= f.text_field :japanese %>
               </div>
               
               <p><p>2. 品詞を選択してください</p>
               <div>
                 <%= f.select :verbal_system, Word.part_of_speeches.keys %>
               </div>
               
               <p><p>3. タイ語を入力してください</p>
               <div>
                 <%= f.text_field :thai %>
               </div>
               
               <p><p>4. 口語または文語を選択してください</p>
               <div >
                 <%= f.select  :verbal_system  , Word.verbal_systems.keys %>
               </div>
               
               <p><p>5. 備考があれば記入してください</p>
               <div>
                 <%= f.text_area :remarks, :size => "30x3", :placeholder=> "特になければ未記入のままで構いません" %>
               </div>  
               
               <p><div>
                  <%= f.submit  class:"btn btn-primary btn-lg" %>
               </div>
         <% end %>
   </div>
 
</body>